<div class="card-header">
	New Folder
</div>

<div class="container">
	<%= render 'form', folder: @folder %>
</div>

<div class="card-footer">
	<%= link_to 'Back', folders_path, class: 'btn btn-secondary' %>		
</div>