<div class="card-header">
	New Folder
</div>

<div class="container">
	<%= render 'form', folder: @folder %>
</div>

<div class="card-footer">
	<% if @folder.parent %> 
	   <%= link_to "Back to '#{@folder.parent.name}' Folder", browse_path(@folder.parent), class: 'btn btn-secondary' %>		
	<% else %> 
	   <%= link_to "Back to My Files", root_url, class: 'btn btn-secondary' %>		
	<% end %>
</div>