<div class="card-header">
	Upload File
</div>

<div class="container">
	<%= render 'form', asset: @asset %>		
</div>

<div class="card-footer">
	<%= link_to 'Back', assets_path, class: 'btn btn-secondary' %>		
</div>
