<div class="card-header">
	Upload File
</div>

<div class="container">
	<%= render 'form', asset: @asset %>		
</div>

<div class="card-footer">
	<% if @asset.folder %>
		<%= link_to "Back to '#{@asset.folder.name}' Folder", browse_path(@asset.folder) %>
	<% else %>
		<%= link_to 'Back', root_path, class: 'btn btn-secondary' %>
	<% end %>
</div>

