/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";
@import "font-awesome";

body {
	background: #F7F9FA;
    color: #8091A5;
    font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
    height: 100%;
}

nav {
	background: white !important;
	border-bottom: 0.5px solid lighten(#8091A5, 25%);
}

nav .navbar-brand {
	font-weight: 500;
	color: #0275d8 !important;
	font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
}

.card input {
  width: 100%;
}

.card input:focus {
	outline: none;
	
}

.card .btn-block {
	height: 50px;
}

.card {
  margin: 0 auto; /* Added */
        float: none; /* Added */
        margin-bottom: 10px; /* Added */
}

.btn-primary {
	color: white !important;
}

.no-files {
	text-align: center;
	padding: 50px 0;
}

.features {

}

.features h2 {
	margin-bottom: 25px;
}

.table .fa-file-o {
	color: #f0ad4e;
}

.table .fa {
	margin-right: 5px;
}

.table .actions {
	text-align: right;
}


footer {
   margin-top: 100px;
   bottom:0;
   width:100%;
   height:60px;   /* Height of the footer */
}

footer p {
	text-align: center;
}

footer .logo {	
	color: #0275d8;
}

footer .github a {
	color: gray;
}